<div class="login-form">
    <form>
        <h1>Вход в аккаунт</h1>

        {{> InputElement label="Логин" elementName="login" }}
        {{> InputElement label="Пароль" elementName="password" }}

        {{> ButtonElement label="Войти" type="submit" }}
        {{> PageLink title="Создать аккаунт" href="" }}

    </form>
</div>
