<div class="new-password-form">
    <form>
        <h1>Смена пароля</h1>

        {{> InputElement label="Текущий пароль" elementName="oldPassword" }}
        {{> InputElement label="Новый пароль" elementName="newPassword" }}
        {{> InputElement label="Новый пароль (повтор)" elementName="newPassword_repeat" }}

        {{> ButtonElement label="Сохранить" type="submit" }}

    </form>
</div>
