<div class="container-500">

    {{> Image path=img500 }}

    <h1 class="err-code">500</h1>
    <h1>Ошибка на стороне сервера</h1>
    <h2>ведутся работы по устранению</h2>

    {{> PageLink title="Вернуться назад" href="" }}

</div>
