.chat-list {
    margin-top: 1rem;
    border-top: 2px solid #9198e5;
    border-bottom: thin solid;
    background: linear-gradient(silver, #9198e5);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
}
