.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40em;
}

.profile-form h1 {
    margin: 1rem auto;
}

.profile-form div {
    display: flex;
    margin: 0.2rem auto;
}

.profile-form .button-save {
    margin: 1.5rem auto;
}
