<div class="reg-form">
    <form>
        <h1>Регистрация</h1>

        {{> InputElement label="Имя" elementName="first_name" }}
        {{> InputElement label="Фамилия" elementName="second_name" }}
        {{> InputElement label="Логин" elementName="login" }}
        {{> InputElement label="Адрес почты" elementName="email" }}
        {{> InputElement label="Номер телефона" elementName="phone" }}
        {{> InputElement label="Пароль" elementName="password" }}
        {{> InputElement label="Пароль (повтор)" elementName="password_repeat" }}

        {{> ButtonElement label="Создать аккаунт" type="submit" }}

    </form>
</div>
