<div class="conversation-block">

    {{{ messageBand }}}

    <div class="message-input-block">
        {{{ attachFileButton }}}
        {{{ messageInput }}}
        {{{ sendMsgButton }}}
    </div>

</div>
