.chats-blocks {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: 100vh;
}

.left-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: thin solid;
    background: hsl(0deg, 0%, 67%);
    margin: 0;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 4;
    margin: 0;
}

.left-block>div {
    padding-left: 0.3rem;
    margin-top: 0.4rem;
}

.left-block>.link {
    width: 0;
}

.left-block>.link a {
    color: hsl(0deg, 0%, 16%);
}

.left-block>div input[type="image"] {
    opacity: 0.5;
}

.left-block>div input[type="text"] {
    background: hsla(0deg, 0%, 87%, 88%);
}
