<div class="chats-blocks">

    <div class="left-block">
        {{> PageLink title="Профиль" href="" }}
        {{> Search }}
        <div class="chat-list">
            {{> ChatList }}
        </div>
    </div>

    <div class="right-block">
        {{> Conversation }}
    </div>

</div>
