<div class="chats-blocks">

    <div class="left-block">
        <div class="link">
            {{{ profileLink }}}
        </div>
        {{{ search }}}
        {{{ chats }}}
    </div>



    <div class="right-block">
        {{{ conversation }}}
    </div>

</div>
