<div class="search-block">
        {{> InputElement placeholder="Поиск" elementName="search" }}
        {{#with (searchIcon) }}
        {{> ImgButtonElement imagePath=icon }}
        {{/with}}
</div>
