<div class="img-select-block">
    <input type="image" class="image-button" src="{{imagePath}}" />
    <input type="file" class="file-select" name="{{elementName}}" accept="image/jpeg,image/png" />
</div>
