<div class="container-404">

    {{> Image path=img404 }}

    <h1>Ошибка на стороне браузера</h1>
    <h2>такой страницы не существует</h2>

    {{> PageLink title="Вернуться назад" href="" }}

</div>
