@import url("./components/Button/styles.css");
@import url("./components/ImageButton/styles.css");
@import url("./components/Input/styles.css");
@import url("./components/InputElement/styles.css");
@import url("./components/TextInput/styles.css");
@import url("./components/PageLink/styles.css");
@import url("./components/ErrorBlock/styles.css");
@import url("./components/ImageSelect/styles.css");
@import url("./components/Header/styles.css");
@import url("./components/PageTitle/styles.css");
@import url("./components/Image/styles.css");
@import url("./components/Message/styles.css");
@import url("./components/MessagesBand/styles.css");
@import url("./components/Conversation/styles.css");
@import url("./components/ChatCard/styles.css");
@import url("./components/ChatList/styles.css");
@import url("./components/Search/styles.css");
@import url("./pages/Login/styles.css");
@import url("./pages/Registration/styles.css");
@import url("./pages/Profile/styles.css");
@import url("./pages/PasswordSetting/styles.css");
@import url("./pages/404/styles.css");
@import url("./pages/500/styles.css");
@import url("./pages/Chats/styles.css");






* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 250%;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}

#app {
    display: flex;
    justify-content: space-evenly;
}
