@import "./components/Button/styles.css";
@import "./components/ImageButton/styles.css";
@import "./components/Input/styles.css";
@import "./components/InputElement/styles.css";
@import "./components/TextInput/styles.css";
@import "./components/PageLink/styles.css";
@import "./components/ErrorBlock/styles.css";
@import "./components/ImageSelect/styles.css";
@import "./components/Header/styles.css";
@import "./components/PageTitle/styles.css";
@import "./components/Image/styles.css";
@import "./components/Message/styles.css";
@import "./components/MessagesBand/styles.css";
@import "./components/Conversation/styles.css";
@import "./components/ChatCard/styles.css";
@import "./components/ChatList/styles.css";
@import "./components/Search/styles.css";

@import "./pages/Login/styles.css";
@import "./pages/Registration/styles.css";
@import "./pages/Profile/styles.css";
@import "./pages/PasswordSetting/styles.css";
@import "./pages/404/styles.css";
@import "./pages/500/styles.css";
@import "./pages/Chats/styles.css";






* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: Verdana;
}

h1 {
    font-size: 250%;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}

#app {
    display: flex;
    justify-content: space-evenly;
}
